@model IEnumerable<CityMarketPOS.Models.Product>
@{
    ViewData["Title"] = "Product";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product Management</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary card-outline shadow">
            <div class="card-header d-flex align-items-center">
                <h3 class="card-title"><i class="fas fa-box mr-2"></i> Product List</h3>
                <button type="button" class="btn btn-primary btn-sm ml-auto" onclick="openCreateModal()">
                    <i class="fas fa-plus"></i> Add Product
                </button>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>UOM</th>
                            <th>Reorder Count</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Category?.Name</td>
                                <td>@item.UOM?.Name</td>
                                <td>@item.MinStockLevel</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm" onclick="openEditModal(@item.Id)">Edit</button>

                                    <form asp-action="Delete" asp-route-id="@item.Id" style="display:inline" onsubmit="return confirm('Confirm Delete?')">
                                        <button class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modalContent">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        @if (TempData["Success"] != null)
        {
                    <text>
                            Swal.fire({
                                icon: 'success',
                                title: 'Successful',
                                text: '@TempData["Success"]',
                                timer: 3000,
                                showConfirmButton: false
                            });
                    </text>
        }

        function openCreateModal() {
            $.get('@Url.Action("Create", "Product")', function (data) {
                $('#modalContent').html(data);
                $('#productModal').modal('show');
            });
        }

        // Edit Pop-up ခေါ်ယူခြင်း
        function openEditModal(id) {
            $.get('@Url.Action("Edit", "Product")/' + id, function (data) {
                $('#modalContent').html(data);
                $('#productModal').modal('show');
            });
        }
    </script>
}