@model IEnumerable<CityMarketPOS.Models.GRNDetail>
@{
    ViewData["Title"] = "Home Page";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-danger shadow">
                    <div class="card-header"><h3 class="card-title">Low Stock (Reorder)</h3></div>
                    <div class="card-body p-0">
                        <table class="table table-striped">
                            <thead><tr><th>Product</th><th>Stock</th><th>Alert Level</th></tr></thead>
                            <tbody>
                                @foreach (var p in ViewBag.LowStock as List<CityMarketPOS.Models.Product>)
                                {
                                    <tr>
                                        <td>@p.Name</td>
                                        @* <td><span class="badge badge-danger">@p.TotalQuantity</span></td> *@
                                        <td>@p.MinStockLevel</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-warning shadow">
                    <div class="card-header"><h3 class="card-title">Expiring Items (Next 7 Days)</h3></div>
                    <div class="card-body p-0">
                        <table class="table table-striped">
                            <thead><tr><th>Product</th><th>Qty</th><th>Expiry Date</th></tr></thead>
                            <tbody>
                                @foreach (var g in ViewBag.Expiring as List<CityMarketPOS.Models.GRNDetail>)
                                {
                                    <tr>
                                        <td>@g.Product.Name</td>
                                        <td>@g.CurrentStockQuantity</td>
                                        <td>@g.ExpiryDate?.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>